include headmenu.pug
main
  header(role='banner')
    h1.bigHead.center.smallSpaceBelow About
  section(role='region').contain.center
    img.space.packImage(src='/img/packing.png')
    p.center.above.smallSpaceBelow The Drystore WebApp is built around the idea of providing backend storage and processing for plans to store enough food to feed (and water) a certain amount of people were there to be a national crisis or emergency no food resources were available to the local area.
    p.center.bold The basic functionality of the app is to:
    p.center 1)Allow users to input items into the database, specifying name, quantity, dry serving size, prepared serving size, and expiration year.
    p.center.smallSpaceAbove 2) Allow users to view, search, and edit details about individual items.
    p.center.smallSpaceAbove 3) Provide an analysis which generates overview information about how many total items of certain categories are available, how much <b>deficit</b> there is in the difference between how much food is available and how much is needed, and how much water is needed to cook specified food, and how much drinking water is needed per person.
    br
    br
    p.center.smallSpaceAbove This is a project by Evan Garrett during his time as Thinkful Student.
    p.center.orange.smallSpaceAbove Credits to Jodi Garrett for the homepage graphic.
    br
    a.center.smallSpaceAbove(href='https://github.com/evang522') Find this project and Evan on Github
    br
    br
