include headmenu.pug

h1.heading.larger.muchShorterLetterSpace Add Item to the DryStore
br
br
div.addItemForm
form.addItem(action='/db/add' method='POST')
    label(for='name') Name of Item:
    br
    input#name(name='name' required)
    br
    br
    br
    label(for='manufacturer') Manufacturer:
    br
    input(name='manufacturer' id='manufacturer')
    br
    br
    label(for='storageUnit') Unit of Storage:
    br
    br
    select(name='storageUnit' id='storageUnit')
        option(value='Can') Can
        option(value='Bag') Bag
        option(value='Box') Box
        option(value='Bottle') Bottle
        option(value='Bucket') Bucket
    br
    br
    br
    label(for='quantity') Quantity:
    br
    input(name='quantity' id='quantity' required)
    br
    br
    br
    p Item Category:
    br
    select(name='category' required)
        option(disabled selected value='')
        option(value='Soup') Soup
        option(value='Entree with Meat') Entree with Meat
        option(value='Entree without Meat') Entree without Meat
        option(value='Meat Only') Meat Only
        option(value='Beans') Beans
        option(value='Cracker') Cracker
        option(value='Pasta') Pasta
        option(value='Potato') Potato
        option(value='Rice') Rice
        option(value='Vegetable') Vegetable
        option(value='Breakfast Meal') Breakfast Meal
        option(value='Breakfast Drink') Breakfast Drink
        option(value='Breakfast Meat') Breakfast Meat
        option(value='Eggs') Eggs
        option(value='Granola') Granola
        option(value='Milk') Milk
        option(value='Yogurt') Yogurt
        option(value='Fruit') Fruit 
        option(value='SauceGravy') Sauce/Gravy
        option(value='Dessert') Dessert
        option(value='Spice') Spice
        option(value='Drink') Drink
        option(value='Oats') Oats
    br
    br
    br
    label(for='servings') Number of Servings Per Unit:
    br
    input(name='servings', id='servings' required)
    br
    br
    label(for='unpreparedserving') Dry Serving Size (Cups)
    br
    input(name='unpreparedserving' id='unpreparedserving' required)
    br
    br
    label(for="preparedserving") Prepared Serving Size (Cups)
    br
    input(name='preparedserving' id='preparedserving' required)
    br
    br
    br
    p Expiration Year:
    br
    input(name='expiration')
    br
    br
    br
    p Additional Details:
    br
    textarea(name='info', cols = '40' rows='10')
    br
    br
    button.generalButton(action='submit') Store Item
    br
    input(type='hidden', id='submittedBy', name='submittedBy' value=user.name)
    //- div.upload
    //-     p#uploadInst Upload Image of Item
    //-     br
    //-     input#imageUpload(name='imageUpload' type='file')
script.
    let timeP = new Date();
    let zeroVar = timeP.getMinutes().toString();
    if (zeroVar.length == 1) {
        zeroVar = "0" + zeroVar;
    }
    let target = document.getElementById('submittedBy');
    let message = ` on ${timeP.toDateString()} at ${timeP.getHours()}:${zeroVar}`;
    target.value += message;