include headmenu.pug
h1.bigHead.center.smallSpaceAbove Administrators Only
img.circle.manatee.centerAuto.smallSpaceAbove.border(src='/img/manatee.gif')
br
br
p.smallSpaceAbove.center.bold Sorry, but changes to this section can be made by administrators only.
p.smallSpaceAbove.center If you believe this is in error, please <a href='http://freesuggestionbox.com/pub/hnbiazp'> report the bug</a>.