script.
    let hdd = document.getElementById('hdd');
    let trigger = document.getElementById('trigger');
    let entireCont = document.getElementById('homeCircle');
    let t = 0;
    let toggleView = () => {
        //- console.log('toggleView has run' + 'and i = ' + t);
        if(t===0) {
            hdd.style.display = 'block';
            trigger.style.backgroundColor='#8e5f07';
            t=1;
        } else if (t===1) {
            hdd.style.display = 'none';
            trigger.style.backgroundColor = '#34604b';
            t--;
        }
    }
    let toggleViewWindow = () => {
        if (t===1 && event.target != trigger) {
            hdd.style.display = 'none';
            trigger.style.backgroundColor = '#34604b';
            t--;
        }
    }
   //- if (navigator.userAgent.includes('iOS') || navigator.userAgent.includes('iPad')) {
        //- trigger.addEventListener('touchend', toggleView)
        //- window.addEventListener('touchend', toggleViewWindow);
 
    trigger.addEventListener('click', toggleView);
    window.addEventListener('click', toggleViewWindow);
  