html(lang='en')
	head
		//- link(rel='stylesheet' type='text/css' href='https://meyerweb.com/eric/tools/css/reset/reset.css')
		link(rel='stylesheet' type='text/css' href='/styles/style.css')
		link(href='https://fonts.googleapis.com/css?family=Montserrat|Roboto', rel='stylesheet')
		title Garrett Drystore
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description' content='A Database for storing food goods')
		meta(name='author' content='Evan Garrett')
		meta(name='keywords' content='Database, Drystore, Evan, Garrett')
		link(rel ='shortcut icon' href='/img/favicon.ico')
	body
		if user
			div.header
				a(href='#')
					img#trigger(src='/img/hamb.png')
			div.headerDropDown#hdd
				ul.headerUl
					li.headerLi
						a(href='/') Home&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
					li.headerLi  
						a(href='/db/storeview') View Drystore&nbsp&nbsp&nbsp
					li.headerLi
						a(href='/db/add') Add Item&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
					li.headerLi
						a(href='/insights/console') Insights&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
					li.headerLi
						a(href='/users/confirmlogout') Log Out&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

		if !user
			div.header
				a(href='#')
					img#trigger(src='/img/hamb.png')
			div.headerDropDown#hdd
				ul.headerUl.shorter
					li.headerLi
						a(href='/') Home
					li.headerLi  
						a(href='/users/login') Login
	div.headBreaker
	script.
		let hdd = document.getElementById('hdd');
		let trigger = document.getElementById('trigger');
		let entireCont = document.getElementById('homeCircle');
		let t = 0;
		let toggleView = () => {
			//- console.log('toggleView has run' + 'and i = ' + t);
			if(t===0) {
				hdd.style.display = 'block';
				t=1;
			} else if (t===1) {
				hdd.style.display = 'none';
				t--;
			}
		}
		let toggleViewWindow = () => {
			if (t===1 && event.target != trigger) {
				hdd.style.display = 'none';
				t--;
			}
		}
	
		trigger.addEventListener('click', toggleView);
		window.addEventListener('click', toggleViewWindow);