html(lang='en')
	head
		//- link(rel='stylesheet' type='text/css' href='https://meyerweb.com/eric/tools/css/reset/reset.css')
		link(rel='stylesheet' type='text/css' href='/styles/style.css')
		link(href='https://fonts.googleapis.com/css?family=Montserrat|Roboto', rel='stylesheet')
		title Garrett Drystore
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description' content='A Database for storing food goods')
		meta(name='author' content='Evan Garrett')
		meta(name='keywords' content='Database, Drystore, Evan, Garrett')
		link(rel ='shortcut icon' href='/img/favicon.ico')
	body
		if user
			div.header
				div
					button#trigger(src='/img/hamb.png' alt='Menu Icon')
			div.headerDropDown#hdd
				ul.headerUl
					li.headerLi
						form(action='/')
							button.hov Home
					li.headerLi  
						form(action='/db/storeview')
							button.hov View Drystore
					li.headerLi
						form(action='/db/add')
							button.hov Add Item
					li.headerLi
						form(action='/insights/console')
							button.hov Insights
					li.headerLi
						form(action='/users/confirmlogout')
							button.hov Log Out

		if !user
			div.header
				div
					button#trigger(src='/img/hamb.png' alt='Menu Icon')
			div.headerDropDown#hdd
				ul.headerUl.shorter
					li.headerLi
						form(action='/')
							button.hov Home
					li.headerLi
						form(action='/users/login')
							button.hov Login
	div.headBreaker
	script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
include dropdownjs.pug