include headmenu.pug
h1.heading.bigHead Insights
br
ul.insightHeader
    li.insightHeaderLi
        a(href='/insights/console') Main
    hr
    li
        a(href='/insights/breakdown') Breakdown
    hr
    li
        a(href='/insights/console') More Analysis
br
input#data(type='hidden', value=items)
div.insightCont
    div.insightUnit
        img.insightImage(src='../img/pantry.png', title='An item is simply one unit of food, like a can of dried Beef.', alt='An item is simply one unit of food, like a can of dried Beef.')
        div#target.insightInfoRight
    //- div.insightUnit
    //-     div#target2.heading.insightInfo
    div.insightUnit.reverse
        div#target3.insightInfoLeft
        img.insightImage(src='../img/meal.png')
    div.insightUnit
        img.insightImage(src='../img/measure.png')
        div#target4.insightInfoRight

script.
    let allItemData = document.getElementById('data');
    let items = JSON.parse(allItemData.value);
    let target = document.getElementById('target');
    let quant = 0;
    for(i=0;i<items.length;i++) {
        quant += items[i].quantity;
    }


    target.innerHTML = 'There are <b>' + quant + '</b> items stored in the database.';
        let totalServ = 0;
        for(i=0;i<items.length;i++) {
            totalServ += (items[i].servings * items[i].quantity);
        };
    //- document.getElementById('target2').innerHTML = 'There are ' + totalServ + ' total servings'



            let renderedCups = 0;
        for(i=0;i<items.length;i++) {
            renderedCups += (items[i].servings * items[i].quantity * items[i].preparedserving);
        };
    document.getElementById('target3').innerHTML = 'There are <b>' + renderedCups + '</b> cups of prepared servings available. This means that if one were to prepare every meal in the the drystore at once, this is how many cups of edible food it would produce.'
    



    let averageCups = (renderedCups/quant);
    document.getElementById('target4').innerHTML = 'That\'s an average of  <b>' + Math.floor(averageCups) + '</b> cups per item.'