html(lang='en')
	head
		//- link(rel='stylesheet' type='text/css' href='https://meyerweb.com/eric/tools/css/reset/reset.css')
		link(rel='stylesheet' type='text/css' href='/styles/style.css')
		link(href='https://fonts.googleapis.com/css?family=Montserrat|Roboto', rel='stylesheet')
		title Garrett Drystore
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description' content='A Database for storing food goods')
		meta(name='author' content='Evan Garrett')
		meta(name='keywords' content='Database, Drystore, Evan, Garrett')
		link(rel ='shortcut icon' href='/img/favicon.ico')
	body
		if user
			div.header
				div
					button#trigger(src='/img/hamb.png' alt='Menu Icon')
			div.headerDropDown#hdd
				ul.headerUl
					li.headerLi
						form(action='/')
							button.hov Home
					li.headerLi  
						form(action='/db/storeview')
							button.hov View Drystore
					li.headerLi
						form(action='/db/add')
							button.hov Add Item
					li.headerLi
						form(action='/insights/console')
							button.hov Insights
					li.headerLi
						form(action='/users/confirmlogout')
							button.hov Log Out

		if !user
			div.header
				div
					button#trigger(src='/img/hamb.png' alt='Menu Icon')
			div.headerDropDown#hdd
				ul.headerUl.shorter
					li.headerLi
						form(action='/')
							button.hov Home
					li.headerLi
						form(action='/users/login')
							button.hov Login
		div.headBreaker
		input#data(type='hidden', value=items)
		h1.heading.bigHead Insights
		br
		include insightsubmen.pug
		br
		br
		//- #chartContainer(style='height: 300px; width: 100%;')
		br
		h1.heading.space Breakdown: Total Prepared Food Available per Category (in Cups)
		br
		div.breakDownCont
			div.breakDownUnit
				a(href='/insights/categorylist?search=soup')
					div.breakDownDiv#soup
				a(href='/insights/categorylist?search=Entree+Without+Meat')
					div.breakDownDiv#entreeWithoutMeat
				a(href='/insights/categorylist?search=Entree+With+Meat')
					div.breakDownDiv#entreeWithMeat
				a(href='/insights/categorylist?search=Meat+Only')
					div.breakDownDiv#MeatOnly
				a(href='/insights/categorylist?search=Beans')
					div.breakDownDiv#Beans
				a(href='/insights/categorylist?search=Cracker')
					div.breakDownDiv#Cracker
				a(href='/insights/categorylist?search=Pasta')
					div.breakDownDiv#Pasta
				a(href='/insights/categorylist?search=Potato')
					div.breakDownDiv#Potato
				a(href='/insights/categorylist?search=Rice')
					div.breakDownDiv#Rice
				a(href='/insights/categorylist?search=Vegetable')
					div.breakDownDiv#Vegetable
				a(href='/insights/categorylist?search=Breakfast+Meal')
					div.breakDownDiv#BreakfastMeal
				a(href='/insights/categorylist?search=Breakfast+Drink')
					div.breakDownDiv#BreakfastDrink
			div.breakDownUnit
				a(href='/insights/categorylist?search=Breakfast+Meat')
					div.breakDownDiv#BreakfastMeat
				a(href='/insights/categorylist?search=Eggs')
					div.breakDownDiv#Eggs
				a(href='/insights/categorylist?search=Granola')
					div.breakDownDiv#Granola
				a(href='/insights/categorylist?search=Milk')
					div.breakDownDiv#Milk
				a(href='/insights/categorylist?search=Oats')
					div.breakDownDiv#Oats
				a(href='/insights/categorylist?search=Yogurt')
					div.breakDownDiv#Yogurt
				a(href='/insights/categorylist?search=Fruit')
					div.breakDownDiv#Fruit
				a(href='/insights/categorylist?search=SauceGravy')
					div.breakDownDiv#SauceGravy
				a(href='/insights/categorylist?search=Dessert')
					div.breakDownDiv#Dessert
				a(href='/insights/categorylist?search=Spice')
					div.breakDownDiv#Spice
				a(href='/insights/categorylist?search=Drink')
					div.breakDownDiv#Drink
		br
		input#getDat(type='hidden' value=catData)
	include dropdownjs.pug
	//- script(src="https://canvasjs.com/assets/script/canvasjs.min.js")
	script.
		let allItemData = document.getElementById('data');
		let items = JSON.parse(allItemData.value);
		let catTotal = {};
		catTotal.Soup = 0;
		catTotal.EntreeWithoutMeat = 0;
		catTotal.EntreeWithMeat = 0;
		catTotal.MeatOnly = 0;
		catTotal.Beans = 0;
		catTotal.Cracker = 0;
		catTotal.Pasta = 0;
		catTotal.Potato = 0;
		catTotal.Rice = 0;
		catTotal.Vegetable = 0;
		catTotal.BreakfastMeal = 0;
		catTotal.BreakfastDrink = 0;
		catTotal.BreakfastMeat= 0;
		catTotal.Eggs = 0;
		catTotal.Granola = 0;
		catTotal.Milk = 0;
		catTotal.Oats= 0;
		catTotal.Yogurt = 0;
		catTotal.Fruit = 0;
		catTotal.SauceGravy = 0;
		catTotal.Dessert = 0;
		catTotal.Spice= 0;
		catTotal.Drink= 0;
		for (i=0;i<items.length;i++) {
			if (items[i].category == 'Soup') {
				catTotal.Soup+= (items[i].quantity * items[i].servings * items[i].preparedserving);
				}
			if (items[i].category == 'Entree Without Meat') {
				catTotal.EntreeWithoutMeat+= (items[i].quantity * items[i].servings * items[i].preparedserving);
				}
			if (items[i].category == 'Entree with Meat') {
				catTotal.EntreeWithMeat+= (items[i].quantity * items[i].servings * items[i].preparedserving);
				}
			if (items[i].category == 'Meat Only') {
				catTotal.MeatOnly+= (items[i].quantity * items[i].servings * items[i].preparedserving);
				}
			if (items[i].category == 'Beans') {
				catTotal.Beans+= (items[i].quantity * items[i].servings * items[i].preparedserving);
				}
			if (items[i].category == 'Cracker') {
				catTotal.Cracker+= (items[i].quantity * items[i].servings * items[i].preparedserving);
				}
			if (items[i].category == 'Pasta') {
				catTotal.Pasta+= (items[i].quantity * items[i].servings * items[i].preparedserving);
				}
			if (items[i].category == 'Potato') {
				catTotal.Potato+= (items[i].quantity * items[i].servings * items[i].preparedserving);
				}
			if (items[i].category == 'Rice') {
				catTotal.Rice+= (items[i].quantity * items[i].servings * items[i].preparedserving);
				}
			if (items[i].category == 'Vegetable') {
				catTotal.Vegetable+= (items[i].quantity * items[i].servings * items[i].preparedserving);
				}
			if (items[i].category == 'Breakfast Meal') {
				catTotal.BreakfastMeal+= (items[i].quantity * items[i].servings * items[i].preparedserving);
				}
			if (items[i].category == 'Breakfast Drink') {
				catTotal.BreakfastDrink+= (items[i].quantity * items[i].servings * items[i].preparedserving);
				}
			if (items[i].category == 'Breakfast Meat') {
				catTotal.BreakfastMeat+= (items[i].quantity * items[i].servings * items[i].preparedserving);
				}
			if (items[i].category == 'Eggs') {
				catTotal.Eggs+= (items[i].quantity * items[i].servings * items[i].preparedserving);
				}
			if (items[i].category == 'Granola') {
				catTotal.Granola+= (items[i].quantity * items[i].servings * items[i].preparedserving);
				}
			if (items[i].category == 'Milk') {
				catTotal.Milk+= (items[i].quantity * items[i].servings * items[i].preparedserving);
				}
			if (items[i].category == 'Oats') {
				catTotal.Oats+= (items[i].quantity * items[i].servings * items[i].preparedserving);
				}
			if (items[i].category == 'Yogurt') {
				catTotal.Yogurt+= (items[i].quantity * items[i].servings * items[i].preparedserving);
				}
			if (items[i].category == 'Fruit') {
				catTotal.Fruit+= (items[i].quantity * items[i].servings * items[i].preparedserving);
				}
			if (items[i].category == 'SauceGravy') {
				catTotal.SauceGravy+= (items[i].quantity * items[i].servings * items[i].preparedserving);
				}
			if (items[i].category == 'Dessert') {
				catTotal.Dessert+= (items[i].quantity * items[i].servings * items[i].preparedserving);
				}
			if (items[i].category == 'Spice') {
				catTotal.Spice+= (items[i].quantity * items[i].servings * items[i].preparedserving);
				}
			if (items[i].category == 'Drink') {
				catTotal.Drink+= (items[i].quantity * items[i].servings * items[i].preparedserving);
				}
		}
		
		document.getElementById('soup').innerHTML = '<h1>Soups:</h1> ' + catTotal.Soup + ' cups';
		document.getElementById('entreeWithoutMeat').innerHTML = '<h1>Entree Without Meat:</h1> ' + catTotal.EntreeWithoutMeat + ' cups';
		document.getElementById('entreeWithMeat').innerHTML = '<h1>Entree with Meat:</h1> ' + catTotal.EntreeWithMeat + ' cups';
		document.getElementById('MeatOnly').innerHTML = '<h1>Meat Only:</h1> ' + catTotal.MeatOnly + ' cups';
		document.getElementById('Beans').innerHTML = '<h1>Beans:</h1> ' + catTotal.Beans + ' cups';
		document.getElementById('Cracker').innerHTML = '<h1>Crackers:</h1> ' + catTotal.Cracker + ' cups';
		document.getElementById('Pasta').innerHTML = '<h1>Pasta:</h1> ' + catTotal.Pasta + ' cups';
		document.getElementById('Potato').innerHTML = '<h1>Potato:</h1> ' + catTotal.Potato + ' cups';
		document.getElementById('Rice').innerHTML = '<h1>Rice:</h1> ' + catTotal.Rice + ' cups';
		document.getElementById('Vegetable').innerHTML = '<h1>Vegetable:</h1> ' + catTotal.Vegetable + ' cups';
		document.getElementById('BreakfastMeal').innerHTML = '<h1>Breakfast Meal:</h1> ' + catTotal.BreakfastMeal + ' cups';
		document.getElementById('BreakfastDrink').innerHTML = '<h1>Breakfast Drink:</h1> ' + catTotal.BreakfastDrink + ' cups';
		document.getElementById('BreakfastMeat').innerHTML = '<h1>Breakfast Meat:</h1> ' + catTotal.BreakfastMeat + ' cups';
		document.getElementById('Eggs').innerHTML = '<h1>Eggs:</h1> ' + catTotal.Eggs + ' cups';
		document.getElementById('Granola').innerHTML = '<h1>Granola:</h1> ' + catTotal.Granola + ' cups';
		document.getElementById('Milk').innerHTML = '<h1>Milk:</h1> ' + catTotal.Milk + ' cups';
		document.getElementById('Oats').innerHTML = '<h1>Oats:</h1> ' + catTotal.Oats + ' cups';
		document.getElementById('Yogurt').innerHTML = '<h1>Yogurt:</h1> ' + catTotal.Yogurt + ' cups';
		document.getElementById('Fruit').innerHTML = '<h1>Fruit:</h1> ' + catTotal.Fruit + ' cups';
		document.getElementById('SauceGravy').innerHTML = '<h1>Sauce/Gravy:</h1> ' + catTotal.SauceGravy + ' cups';
		document.getElementById('Dessert').innerHTML = '<h1>Dessert:</h1> ' + catTotal.Dessert + ' cups';
		document.getElementById('Spice').innerHTML = '<h1>Spice:</h1> ' + catTotal.Spice + ' cups';
		document.getElementById('Drink').innerHTML = '<h1>Drink:</h1> ' + catTotal.Drink + ' cups';