ul.insightHeader
    li.insightHeaderLi
        a(href='/insights/console') Main
    hr
    li
        a(href='/insights/breakdown') Breakdown
    hr
    li
        a(href='/insights/needscalculator') Needs Calculator
br