html(lang='en')
	head
		//- link(rel='stylesheet' type='text/css' href='https://meyerweb.com/eric/tools/css/reset/reset.css')
		link(rel='stylesheet' type='text/css' href='/styles/style.css')
		link(href='https://fonts.googleapis.com/css?family=Montserrat|Roboto', rel='stylesheet')
		title Garrett Drystore
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description' content='A Database for storing food goods')
		meta(name='author' content='Evan Garrett')
		meta(name='keywords' content='Database, Drystore, Evan, Garrett')
		link(rel ='shortcut icon' href='/img/favicon.ico')
	body
		if user
			div.header
				ul
					li
						form(action='/')
							button.hov Home
					li  
						form(action='/db/storeview')
							button.hov View DryStore
					li
						form(action='/db/add')
							button.hov Add Item
					li
						form(action='/insights/console')
							button.hov Insights

		if !user
			div.header
				ul
					li
						form(action='/')
							button.hov Home
					li
						form(action='/users/login')
							button.hov Login
	div.headBreaker
	h1.heading.bigHead Insights
	br
	ul.insightHeader
		li.insightHeaderLi
			a(href='/insights/console') Main
		hr
		li
			a(href='/insights/breakdown') Breakdown
		hr
		li
			a(href='/insights/console') More Analysis
	br
	h1.heading.space Breakdown: Total Prepared Food Available per Category (in Cups)
	
	#chartContainer(style='height: 300px; width: 100%;')

	
	div.breakDownCont
		div.breakDownUnit
			a(href='/insights/categorylist?search=soup')
				div.breakDownDiv#soup
			a(href='/insights/categorylist?search=entree')
				div.breakDownDiv#entree
			a(href='/insights/categorylist?search=Entree+With+Meat')
				div.breakDownDiv#entreeWithMeat
			a(href='/insights/categorylist?search=Meat+Only')
				div.breakDownDiv#MeatOnly
			a(href='/insights/categorylist?search=Beans')
				div.breakDownDiv#Beans
			a(href='/insights/categorylist?search=Cracker')
				div.breakDownDiv#Cracker
			a(href='/insights/categorylist?search=Pasta')
				div.breakDownDiv#Pasta
			a(href='/insights/categorylist?search=Potato')
				div.breakDownDiv#Potato
			a(href='/insights/categorylist?search=Rice')
				div.breakDownDiv#Rice
			a(href='/insights/categorylist?search=Vegetable')
				div.breakDownDiv#Vegetable
			a(href='/insights/categorylist?search=Breakfast+Meal')
				div.breakDownDiv#BreakfastMeal
			a(href='/insights/categorylist?search=Breakfast+Drink')
				div.breakDownDiv#BreakfastDrink
		div.breakDownUnit
			a(href='/insights/categorylist?search=Breakfast+Meat')
				div.breakDownDiv#BreakfastMeat
			a(href='/insights/categorylist?search=Eggs')
				div.breakDownDiv#Eggs
			a(href='/insights/categorylist?search=Granola')
				div.breakDownDiv#Granola
			a(href='/insights/categorylist?search=Milk')
				div.breakDownDiv#Milk
			a(href='/insights/categorylist?search=Oatmeal')
				div.breakDownDiv#Oatmeal
			a(href='/insights/categorylist?search=Yogurt')
				div.breakDownDiv#Yogurt
			a(href='/insights/categorylist?search=Fruit')
				div.breakDownDiv#Fruit
			a(href='/insights/categorylist?search=Gravy')
				div.breakDownDiv#Gravy
			a(href='/insights/categorylist?search=Sauce')
				div.breakDownDiv#Sauce
			a(href='/insights/categorylist?search=Dessert')
				div.breakDownDiv#Dessert
			a(href='/insights/categorylist?search=Spice')
				div.breakDownDiv#Spice
			a(href='/insights/categorylist?search=Drink')
				div.breakDownDiv#Drink
	br
	input#getDat(type='hidden' value=catData)
	script.
		let getDat = document.getElementById('getDat').value;
		let newDat = (JSON.parse(getDat));
		let totalQuant = 0;
		let i;
		for (i in newDat) {
			totalQuant += parseInt(newDat[i]);
		}

		let divi = 100/totalQuant;
		
		let percentize = (value) => {
			let mittel = value*divi
			return mittel.toFixed(2)
		}
		window.onload = function() {

		var chart = new CanvasJS.Chart("chartContainer", {
			theme: "light2", // "light1", "light2", "dark1", "dark2"
			exportEnabled: true,
			animationEnabled: true,
			title: {
				text: "Drystore Renderable Contents"
			},
			data: [{
				type: "pie",
				startAngle: 25,
				toolTipContent: "<b>{label}</b>: {y}%",
				showInLegend: "true",
				legendText: "{label}",
				indexLabelFontSize: 16,
				indexLabel: "{label} - {y}%",
				dataPoints: [
					{ y: percentize(newDat.Beans), label: "Beans" },
					{ y: percentize(newDat.BreakfastDrink), label: "Breakfast Drink" },
					{ y: percentize(newDat.BreakfastMeal), label: "Breakfast Meals" },
					{ y: percentize(newDat.Soup), label: "Soup" },
					{ y: percentize(newDat.BreakfastMeal), label: "Breakfast Meals" },
					{ y: percentize(newDat.BreakfastMeat), label: "Breakfast Meat" },
					{ y: percentize(newDat.Cracker), label: "Crackers" },
					{ y: percentize(newDat.Dessert), label: "Dessert" },
					{ y: percentize(newDat.Drink), label: "Drink" },
					{ y: percentize(newDat.Eggs), label: "Eggs" },
					{ y: percentize(newDat.Entree), label: "Entree" },
					{ y: percentize(newDat.EntreeWithMeat), label: "Entrees With Meat" },
					{ y: percentize(newDat.Fruit), label: "Fruit" },				
					{ y: percentize(newDat.Granola), label: "Granola" },
					{ y: percentize(newDat.Gravy), label: "Gravy" },
					{ y: percentize(newDat.MeatOnly), label: "Meat Only" },
					{ y: percentize(newDat.Milk), label: "Milk" },
					{ y: percentize(newDat.Oatmeal), label: "Oatmeal" },
					{ y: percentize(newDat.Pasta), label: "Pasta" },
					{ y: percentize(newDat.Potato), label: "Potato" },
					{ y: percentize(newDat.Rice), label: "Rice" },
					{ y: percentize(newDat.Sauce), label: "Sauce" },
					{ y: percentize(newDat.Spice), label: "Spice" },
					{ y: percentize(newDat.Vegetable), label: "Vegetable" },
					{ y: percentize(newDat.Yogurt), label: "Yogurt" },
					{ y: 0, label: "Others" }
				]
			}]
		});
		chart.render();

		}
	script(src="https://canvasjs.com/assets/script/canvasjs.min.js")
		