include headmenu.pug
input#data(type='hidden', value=items)
h1.heading.space Breakdown: Total Prepared Food Available per Category (in Cups)
div.beside
    form(action='/insights/categorylist' method='GET')
        input.input(placeholder='Search DB by Category...' name='search')
        br
        button.generalButton(action='/submit') Search DB
 
div.breakDownCont
    div.breakDownUnit
        a(href='/insights/categorylist?search=soup')
            div.breakDownDiv#soup
        a(href='/insights/categorylist?search=entree')
            div.breakDownDiv#entree
        a(href='/insights/categorylist?search=Entree+With+Meat')
            div.breakDownDiv#entreeWithMeat
        a(href='/insights/categorylist?search=Meat+Only')
            div.breakDownDiv#MeatOnly
        a(href='/insights/categorylist?search=Beans')
            div.breakDownDiv#Beans
        a(href='/insights/categorylist?search=Cracker')
            div.breakDownDiv#Cracker
        a(href='/insights/categorylist?search=Pasta')
            div.breakDownDiv#Pasta
        a(href='/insights/categorylist?search=Potato')
            div.breakDownDiv#Potato
        a(href='/insights/categorylist?search=Rice')
            div.breakDownDiv#Rice
        a(href='/insights/categorylist?search=Vegetable')
            div.breakDownDiv#Vegetable
        a(href='/insights/categorylist?search=Breakfast+Meal')
            div.breakDownDiv#BreakfastMeal
        a(href='/insights/categorylist?search=Breakfast+Drink')
            div.breakDownDiv#BreakfastDrink
    div.breakDownUnit
        a(href='/insights/categorylist?search=Breakfast+Meat')
            div.breakDownDiv#BreakfastMeat
        a(href='/insights/categorylist?search=Eggs')
            div.breakDownDiv#Eggs
        a(href='/insights/categorylist?search=Granola')
            div.breakDownDiv#Granola
        a(href='/insights/categorylist?search=Milk')
            div.breakDownDiv#Milk
        a(href='/insights/categorylist?search=Oatmeal')
            div.breakDownDiv#Oatmeal
        a(href='/insights/categorylist?search=Yogurt')
            div.breakDownDiv#Yogurt
        a(href='/insights/categorylist?search=Fruit')
            div.breakDownDiv#Fruit
        a(href='/insights/categorylist?search=Gravy')
            div.breakDownDiv#Gravy
        a(href='/insights/categorylist?search=Sauce')
            div.breakDownDiv#Sauce
        a(href='/insights/categorylist?search=Dessert')
            div.breakDownDiv#Dessert
        a(href='/insights/categorylist?search=Spice')
            div.breakDownDiv#Spice
        a(href='/insights/categorylist?search=Drink')
            div.breakDownDiv#Drink
script.
    let allItemData = document.getElementById('data');
    let items = JSON.parse(allItemData.value);

    let catTotal = {};
    catTotal.Soup = 0;
    catTotal.Entree = 0;
    catTotal.EntreeWithMeat = 0;
    catTotal.MeatOnly = 0;
    catTotal.Beans = 0;
    catTotal.Cracker = 0;
    catTotal.Pasta = 0;
    catTotal.Potato = 0;
    catTotal.Rice = 0;
    catTotal.Vegetable = 0;
    catTotal.BreakfastMeal = 0;
    catTotal.BreakfastDrink = 0;
    catTotal.BreakfastMeat= 0;
    catTotal.Eggs = 0;
    catTotal.Granola = 0;
    catTotal.Milk = 0;
    catTotal.Oatmeal= 0;
    catTotal.Yogurt = 0;
    catTotal.Fruit = 0;
    catTotal.Gravy = 0;
    catTotal.Sauce = 0;
    catTotal.Dessert = 0;
    catTotal.Spice= 0;
    catTotal.Drink= 0;
    for (i=0;i<items.length;i++) {
        if (items[i].category == 'Soup') {
            catTotal.Soup+= (items[i].quantity * items[i].servings * items[i].preparedserving);
            }
        if (items[i].category == 'Entree') {
            catTotal.Entree+= (items[i].quantity * items[i].servings * items[i].preparedserving);
            }
        if (items[i].category == 'Entree with Meat') {
            catTotal.EntreeWithMeat+= (items[i].quantity * items[i].servings * items[i].preparedserving);
            }
        if (items[i].category == 'Meat Only') {
            catTotal.MeatOnly+= (items[i].quantity * items[i].servings * items[i].preparedserving);
            }
        if (items[i].category == 'Beans') {
            catTotal.Beans+= (items[i].quantity * items[i].servings * items[i].preparedserving);
            }
        if (items[i].category == 'Cracker') {
            catTotal.Cracker+= (items[i].quantity * items[i].servings * items[i].preparedserving);
            }
        if (items[i].category == 'Pasta') {
            catTotal.Pasta+= (items[i].quantity * items[i].servings * items[i].preparedserving);
            }
        if (items[i].category == 'Potato') {
            catTotal.Potato+= (items[i].quantity * items[i].servings * items[i].preparedserving);
            }
        if (items[i].category == 'Rice') {
            catTotal.Rice+= (items[i].quantity * items[i].servings * items[i].preparedserving);
            }
        if (items[i].category == 'Vegetable') {
            catTotal.Vegetable+= (items[i].quantity * items[i].servings * items[i].preparedserving);
            }
        if (items[i].category == 'Breakfast Meal') {
            catTotal.BreakfastMeal+= (items[i].quantity * items[i].servings * items[i].preparedserving);
            }
        if (items[i].category == 'Breakfast Drink') {
            catTotal.BreakfastDrink+= (items[i].quantity * items[i].servings * items[i].preparedserving);
            }
        if (items[i].category == 'Breakfast Meat') {
            catTotal.BreakfastMeat+= (items[i].quantity * items[i].servings * items[i].preparedserving);
            }
        if (items[i].category == 'Eggs') {
            catTotal.Eggs+= (items[i].quantity * items[i].servings * items[i].preparedserving);
            }
        if (items[i].category == 'Granola') {
            catTotal.Granola+= (items[i].quantity * items[i].servings * items[i].preparedserving);
            }
        if (items[i].category == 'Milk') {
            catTotal.Milk+= (items[i].quantity * items[i].servings * items[i].preparedserving);
            }
        if (items[i].category == 'Oatmeal') {
            catTotal.Oatmeal+= (items[i].quantity * items[i].servings * items[i].preparedserving);
            }
        if (items[i].category == 'Yogurt') {
            catTotal.Yogurt+= (items[i].quantity * items[i].servings * items[i].preparedserving);
            }
        if (items[i].category == 'Fruit') {
            catTotal.Fruit+= (items[i].quantity * items[i].servings * items[i].preparedserving);
            }
        if (items[i].category == 'Gravy') {
            catTotal.Gravy+= (items[i].quantity * items[i].servings * items[i].preparedserving);
            }
        if (items[i].category == 'Sauce') {
            catTotal.Sauce+= (items[i].quantity * items[i].servings * items[i].preparedserving);
            }
        if (items[i].category == 'Dessert') {
            catTotal.Dessert+= (items[i].quantity * items[i].servings * items[i].preparedserving);
            }
        if (items[i].category == 'Spice') {
            catTotal.Spice+= (items[i].quantity * items[i].servings * items[i].preparedserving);
            }
        if (items[i].category == 'Drink') {
            catTotal.Drink+= (items[i].quantity * items[i].servings * items[i].preparedserving);
            }
    }
    document.getElementById('soup').innerHTML = '<h1>Soups:</h1> ' + catTotal.Soup + ' servings';
    document.getElementById('entree').innerHTML = '<h1>Entree:</h1> ' + catTotal.Entree + ' servings';
    document.getElementById('entreeWithMeat').innerHTML = '<h1>Entree with Meat:</h1> ' + catTotal.EntreeWithMeat + ' servings';
    document.getElementById('MeatOnly').innerHTML = '<h1>Meat Only:</h1> ' + catTotal.MeatOnly + ' servings';
    document.getElementById('Beans').innerHTML = '<h1>Beans:</h1> ' + catTotal.Beans + ' servings';
    document.getElementById('Cracker').innerHTML = '<h1>Crackers:</h1> ' + catTotal.Cracker + ' servings';
    document.getElementById('Pasta').innerHTML = '<h1>Pasta:</h1> ' + catTotal.Pasta + ' servings';
    document.getElementById('Potato').innerHTML = '<h1>Potato:</h1> ' + catTotal.Potato + ' servings';
    document.getElementById('Rice').innerHTML = '<h1>Rice:</h1> ' + catTotal.Rice + ' servings';
    document.getElementById('Vegetable').innerHTML = '<h1>Vegetable:</h1> ' + catTotal.Vegetable + ' servings';
    document.getElementById('BreakfastMeal').innerHTML = '<h1>Breakfast Meal:</h1> ' + catTotal.BreakfastMeal + ' servings';
    document.getElementById('BreakfastDrink').innerHTML = '<h1>Breakfast Drink:</h1> ' + catTotal.BreakfastDrink + ' servings';
    document.getElementById('BreakfastMeat').innerHTML = '<h1>Breakfast Meat:</h1> ' + catTotal.BreakfastMeat + ' servings';
    document.getElementById('Eggs').innerHTML = '<h1>Eggs:</h1> ' + catTotal.Eggs + ' servings';
    document.getElementById('Granola').innerHTML = '<h1>Granola:</h1> ' + catTotal.Granola + ' servings';
    document.getElementById('Milk').innerHTML = '<h1>Milk:</h1> ' + catTotal.Milk + ' servings';
    document.getElementById('Oatmeal').innerHTML = '<h1>Oatmeal:</h1> ' + catTotal.Oatmeal + ' servings';
    document.getElementById('Yogurt').innerHTML = '<h1>Yogurt:</h1> ' + catTotal.Yogurt + ' servings';
    document.getElementById('Fruit').innerHTML = '<h1>Fruit:</h1> ' + catTotal.Fruit + ' servings';
    document.getElementById('Gravy').innerHTML = '<h1>Gravy:</h1> ' + catTotal.Gravy + ' servings';
    document.getElementById('Sauce').innerHTML = '<h1>Sauce:</h1> ' + catTotal.Sauce + ' servings';
    document.getElementById('Dessert').innerHTML = '<h1>Dessert:</h1> ' + catTotal.Dessert + ' servings';
    document.getElementById('Spice').innerHTML = '<h1>Spice:</h1> ' + catTotal.Spice + ' servings';
    document.getElementById('Drink').innerHTML = '<h1>Drink:</h1> ' + catTotal.Drink + ' servings';