include headmenu.pug
h1.heading.bigHead Login
br
p.heading(style='color:green') #{success}
br
if !user
	div.login
		form(action='/users/login', method='POST')
			p Email: &nbsp
			input.leftSpace(name='username' required)
			br
			br
			p Password: &nbsp
			input.leftSpace(name='password'  type='password' required)
			br
			br
			button.generalButton(action='submit') Log in
			br
			br
		p This is a private site restricted to authorized users.
		br
		br
if user
	br
	h3.heading Hey, #{user.name}. You're already logged in! 
	br
	br
	img#crash.smallerImg(src='/img/thumb.png')
	br
	br
	br
	p.heading Or, at least that what your browser's cookies say.
	br
	form(action='/db/storeview')
		button.generalButton.wider View Drystore
	br
	br
	