include headmenu.pug
h1.heading.bigHead Insights
br
include insightsubmen.pug
br
br
p.heading <strong>What is this?</strong>
br
p.heading This page is for the purpose of calculating the food needs of people over time. It has customizeable inputs so that you can generate custom data. 
br
br
img.breakfast(src='/img/bfast.png')
div.fieldContainer
    p.center.larger Breakfast Foods
    div.fieldUnit 
        div.foodfield Eggs
        div.foodfield Oats
        div.foodfield Yogurt
        div.foodfield Granola
        div.foodfield Fruit
        div.foodfield Milk
        div.foodfield Breakfast Drink
    p.center.larger Breakfast Meal Options
    div.fieldUnit
        div.mealfield
            p.center.bold Meal One
            ul.spaceAbove
                li Eggs: 1/2 Cup
                li Fruit: 1/2 Cup
                li Frequency Eaten:
                input(value='25%')
        div.mealfield
            p.center.bold Meal Two
            ul.spaceAbove
                li Oats: 1/2 Cup
                li Fruit: 1/4 Cup
                li Frequency Eaten:
                input(value='53%')
        div.mealfield
            p.center.bold Meal Three
            ul.spaceAbove
                li Oats: 1/2 Cup
                li Yogurt: 1/2 Cup
                li Frequency Eaten:
                input(value='1%')
        div.mealfield
            p.center.bold Meal Four
            ul.spaceAbove
                li Oats: 1/2 Granola
                li Fruit: 1/2 Milk
                li Frequency Eaten:
                input(value='11%')
        div.mealfield
            p.center.bold Meal Five
            ul.spaceAbove
                li Breakfast Drink: 1/2 Cup
                li Frequency Eaten:
                input(value='10%')
img.breakfast(src='/img/bfast.png')
div.fieldContainer
    p.center.larger Lunch Foods
    div.fieldUnit 
        div.foodfield Beans
        div.foodfield Pasta
        div.foodfield Rice
        div.foodfield Vegetable
        div.foodfield Soup
        div.foodfield Cracker
    p.center.larger Lunch Meal Options
    div.fieldUnit
        div.mealfield
            p.center.bold Meal One
            ul.spaceAbove
                li Beans: 1/2 Cup
                li Rice: 1/2 Cup
                li Vegetable: 1/2 Cup
                li Frequency Eaten:
                input(value='60%')
        div.mealfield
            p.center.bold Meal Two
            ul.spaceAbove
                li Beans: 1/2 Cup
                li Pasta: 1/2 Cup
                li Vegetable: 1/2 Cup
                li Frequency Eaten:
                input(value='10%')
        div.mealfield
            p.center.bold Meal Three
            ul.spaceAbove
                li Soup: 1 Cup
                li Cracker: 2 Cups
                li Frequency Eaten:
                input(value='30%')
img.breakfast(src='/img/bfast.png')
div.fieldContainer
    p.center.larger Dinner Foods
    div.fieldUnit 
        div.foodfield Eggs
        div.foodfield Oats
        div.foodfield Yogurt
        div.foodfield Granola
        div.foodfield Fruit
        div.foodfield Milk
        div.foodfield Breakfast Drink
    p.center.larger Dinner Meal Options
    div.fieldUnit
        div.mealfield
            p.center.bold Meal One
            ul.spaceAbove
                li Eggs: 1/2 Cup
                li Fruit: 1/2 Cup
                li Frequency Eaten:
                input(value='25%')
        div.mealfield
            p.center.bold Meal Two
            ul.spaceAbove
                li Oats: 1/2 Cup
                li Fruit: 1/4 Cup
                li Frequency Eaten:
                input(value='53%')
        div.mealfield
            p.center.bold Meal Three
            ul.spaceAbove
                li Oats: 1/2 Cup
                li Yogurt: 1/2 Cup
                li Frequency Eaten:
                input(value='1%')
        div.mealfield
            p.center.bold Meal Four
            ul.spaceAbove
                li Oats: 1/2 Granola
                li Fruit: 1/2 Milk
                li Frequency Eaten:
                input(value='11%')
        div.mealfield
            p.center.bold Meal Five
            ul.spaceAbove
                li Breakfast Drink: 1/2 Cup
                li Frequency Eaten:
                input(value='10%')
