include headmenu.pug
h1.heading.bigHead Insights
br
include insightsubmen.pug
br
br
p.heading <strong>What is this?</strong>
br
p.heading This page is for the purpose of calculating the food needs of people over time. It has customizeable inputs so that you can generate custom data. 
br
br
h2.bigHead.heading Breakfast
div.fieldContainer
    div.field
        p.heading.larger(title='Breakfast can be eaten in different ways. We\'ve come up with 5 ways for the purpose of this app.') Breakfast Type 
        br
        ul  
            li Breakfast One
            br
            li Breakfast Two
            br
            li Breakfast Three
            br
            li Breakfast Four
            br
            li Breakfast Five
    div.field
        p.heading.larger Food Unit: Eggs
    div.field 
