include headmenu.pug
br
br
h1.heading Not Authenticated 
br
img#crash(src='/img/baby.png')
//- img#fife(src='/img/fife.png')
br
br
br
h4.heading#errorHandle Sorry you're experiencing this issue. It looks like you are not authenticated (Read: 'Not logged in'). Please try logging in to continue browsing this wonderful webspace.
br
br
