include headmenu.pug
img#crash.smallerImg(src='/img/cat.jpg')
br
h1.heading.larger Sorry, you need to Log in!  
br
br
div.login
		form(action='/users/login', method='POST')
			p Email: &nbsp
			input.leftSpace(name='username' required)
			br
			br
			p Password: &nbsp
			input.leftSpace(name='password'  type='password' required)
			br
			br
			button.generalButton(action='submit') Log in
			br
			br
br
br
