include headmenu.pug
h1.center.bigHead Notes
h3.center A place to stash your plans, ideas, and other relevant information.
br
main(role='main')
    button.generalButton.centerAuto.backTo Create New Note
    div.createNoteCont
    div.noteCont.above