include headmenu.pug
if success
    p.successFlash
h1.center.bigHead Notes
h3.center A place to stash your plans, ideas, and other relevant information.
br
main(role='main')
    button.generalButton.centerAuto.wideButton#trigButton Create New Note
    div.createNoteCont#CNC
        h1.larger.smallSpaceAbove.smallSpaceBelow.center Create Note
        form(action='/notes' method='POST')
            input.noteEntry(placeholder = 'Subject...' name='subject' required)
            textarea.notebody(placeholder= 'Body...' name='body' required)
            br
            button(type='submit').generalButton.backTo Create Note
        button.generalButton.smallspaceBelow.wideButton#cancel Cancel
    div.noteCont.above
        each note, k in notes
            div.noteField
                a.bold.subject(href='/notes/view_note/' + note.id,)= note.subject
                br
                p.smallSpaceAbove.restrictOneLine.smaller.gray= note.body






script.
    let trigButton = document.getElementById('trigButton');
    let popUp = document.getElementById('CNC');
    let cancel = document.getElementById('cancel');
    let u = 0;
    let toggleNoteCont = () => {
        if(u===0) {
            popUp.style.display = 'block';
            u=1;
        }
    };
    let toggleAwayNoteCont = () => {
        if(u===1) {
            popUp.style.display = 'none';
            u=0;
        }
    };

    trigButton.addEventListener('click',toggleNoteCont);
    cancel.addEventListener('click',toggleAwayNoteCont);
