include headmenu.pug
header
    h1.bigHead.center.space User Management
main
    section(role='region')
        div.userCont
            each user, j in users
                div.userField
                    div.userFieldSub= 'Username: ' + user.name
                    div.userFieldSub= 'Email: ' + user.email
                    div.userFieldSub
                        form(action='/users/manage/viewuser')
                            button.generalButton.UserButton View User
                    div.userFieldSub
                        form(action='/users/manage/delete/'+ user.id, method='GET')
                            button#warning.UserButton(type='submit') Remove User
                    div.userFieldSub
                        form.userRoleForm(action='/users/manage/roles/' + user.id, method ='POST')
                            p Change Role
                            select(name='role')
                                option(selected value=user.role) Current: #{user.role} 
                                option(value='Visitor') Visitor
                                option(value='Standard') Standard
                                option(value='Admin') Administrator
                            button.smallButton Apply
        form(action="/users/register")
            button.generalButton.center.blueButton.smallSpaceAbove  Add User