include headmenu.pug
header
    h1.bigHead.center View Note
main.editNoteForm
    textarea.editNoteSubject(name='subject' readonly)= notes.subject
    textarea.above.editNoteBody(name='body' readonly)= notes.body
    form.above(action='/notes')
        button.generalButton(type='submit') Back to Notes
    form.below(action='/notes/edit_note/' + notes.id, + notes.id, method='GET')
        button.generalButton.blueButton(type='submit') Edit Note
    form.below(action='/notes/confirmdelete/' + notes.id, method='GET')
        button.smallSpaceBelow.generalButton.orange(type='submit') Delete Note
