include headmenu.pug
header
    h1.bigHead.center View Note
main
    div.viewNoteSubject= notes.subject
    div.above.viewNoteBody= notes.body
form.above(action='/notes')
    button.space.generalButton(type='submit') Back to Notes
form.below(action='/notes/confirmdelete/' + notes.id, method='GET')
    button.smallSpaceBelow.generalButton.orange(type='submit') Delete Note
