include headmenu.pug
h1.bigHead.center.smallSpaceAbove Visitor Access is Restricted
img.circle.manatee.centerAuto.smallSpaceAbove.border(src='/img/manatee.gif')
br
br
p.smallSpaceAbove.center Sorry, your user role is 'Visitor'. Visitors may view data but not make any changes. If you believe this is in error, please contact the website admin.